# OLLAMA CONFIGURATION
OLLAMA_MODEL="your_preferred_ollama_model"
OLLAMA_URL="http://localhost:11434"
OLLAMA_TEMPERATURE=0.1

# OTHER CONFIGURATION
OPENAI_API_KEY="your_openai_api_key"
OPENAI_MODEL="your_preferred_openai_model"
OPENAI_URL="https://api.openai.com/v1/chat/completions"
OPENAI_TEMPERATURE=0.1
